@tailwind base;
@tailwind components;
@tailwind utilities;

button,
button:focus {
  outline: none;
  border: none;
}

input,
textarea {
  @apply px-4 py-1 border border-gray-100;
}

.text-run {
  color: #01bfff;
}

.text-tracker {
  color: #259fed;
}